@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800;900&family=Praise&family=Varela&family=Varela+Round&family=Yuji+Mai&display=swap');

:root {
  --background-color: #333647;
  --pink: #f87652;
  --secondary-color: #bbbbbb;
  --bg-color-list-in-skill-section: #81818180;
  --card-bg-color: #232432;
  --bg-color-for-form-inputs: #ffffff24;
  --border-color-for-form-inputs: #c4c4c44a;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color) !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
td,
a {
  cursor: pointer;
}

/* ParticleJs */
canvas.particles-js-canvas-el {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1000;
  margin: 0;
}

/* Navbar */

.nav_section .navbar-brand {
  font-size: 26px;
  padding-left: 180px;
}
.nav_section .navbar-light.scrolled {
  background: rgb(49, 49, 49) !important;
}

.nav_section .navbar-brand span {
  color: var(--pink);
}

.nav_section .navbar-nav li {
  margin: 0px 10px;
}

.nav_section .navbar-nav li a {
  font-size: 18px;
  color: white !important;
}

.nav_section .navbar-nav .nav-link::before {
  content: '';
  width: 0px;
  height: 0px;
  background-color: white;
  position: absolute;
  bottom: 15px;
  transition: 0.5s;
}

.nav_section .navbar-nav .nav-link:hover::before {
  content: '';
  height: 2px;
  width: 28px;
  background-color: white;
  position: absolute;
  bottom: 8px;
}
.navbar-collapse {
  padding-right: 140px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Hero Section */

.hero_section .row {
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero_section .row h1,
h2,
h3,
p {
  color: white;
}

.hero_section .row h3 {
  font-style: 19px;
  font-weight: 300;
  margin-bottom: 15px;
}

.hero_section .row h3::after {
  content: '';
  position: absolute;
  text-align: center;
  top: 14px;
  width: 90px;
  height: 2px;
  background-color: white;
  margin-left: 6px;
}

.hero_section .row h1 {
  font-style: 65px;
  font-weight: 800;
}

.hero_section .row h2 {
  font-style: 20px;
  font-weight: 100;
  margin: 8px 0px;
}

.hero_section .row p {
  font-style: 13px;
  margin-top: 13px;
  line-height: 21px;
  color: var(--secondary-color);
}

.hero_section .row button {
  border-radius: 10px;
  font-style: 19px;
  color: white;
  background-color: var(--pink);
  border: 3px solid var(--pink);
  width: 113px;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}

.hero_section .row button:hover {
  animation: swing;
  animation-duration: 0.5s;
  background-color: white;
  color: black;
  border-color: white;
}

.hero_section .row img {
  width: 80%;
}

/* Responsiveness */
@media (max-width: 1200px) and (min-width: 993px) {
  .hero_section .row h1 {
    font-style: 58px;
  }
}

@media (max-width: 993px) and (min-width: 763px) {
  .hero_section .row h1 {
    font-style: 42px;
  }
  .hero_section .row h2 {
    font-style: 15px;
  }
  .hero_section .row p {
    font-style: 11px;
  }
  .hero_section .row h3 {
    font-style: 15px;
  }
  .hero_section .row button {
    font-style: 15px;
  }
}

@media (max-width: 763px) and (min-width: 500px) {
  .hero_section {
    margin: 135px 0px;
  }
  .hero_section .row h1 {
    font-style: 46px;
    text-align: center;
  }
  .hero_section .row h2 {
    font-style: 15px;
    text-align: center;
  }
  .hero_section .row p {
    font-style: 11px;
    text-align: center;
  }
  .hero_section .btn_container {
    text-align: center;
    justify-content: center;
  }
  .hero_section .row h3 {
    font-style: 18px;
    text-align: center;
    margin-bottom: 0;
  }
  .hero_section .row h3::after {
    width: 0;
  }
  .hero_section .btn_container button {
    font-style: 15px;
    width: 100px;
    height: 43px;
    text-align: center;
  }
  .hero_section img {
    width: 60%;
    margin-top: 20px;
  }
}

/* About Section */

.about_section {
  padding: 170px 0px;
  background-color: #282a39;
}
.about_section #heading {
  font-weight: 600;
  font-style: 40px;
  letter-spacing: 0.5px;
  line-height: 57px;
}
.about_section #lets_talk {
  color: white;
  font-weight: 400;
  margin-top: 14px;
}
.about_section #info_gmail {
  font-weight: 600;
  font-style: 15px;
  color: var(--pink);
  margin-top: 35px;
  word-spacing: 6px;
}
.about_section .contact_info {
  margin-top: 15px;
}
.about_section .contact_info h5 {
  color: white;
  font-weight: 400;
  font-size: 15px;
  word-spacing: 6px;
}
.about_section .about_me_right_section #txt {
  font-size: 15px;
  line-height: 25px;
  margin-top: 13px;
  color: var(--secondary-color);
}
.about_section .about_me_right_section hr {
  margin: 0;
  border: 0.5px solid var(--pink);
  width: 6rem;
}
.about_section .about_me_right_section table td {
  border: none;
  color: white !important;
  font-size: 18px;
}
.about_section .about_me_right_section button {
  border-radius: 7px;
  font-size: 15px;
  color: white;
  background-color: var(--pink);
  border: 3px solid var(--pink);
  font-family: 'Poppins', sans-serif;
}
.about_section .about_me_right_section button:hover {
  animation: swing;
  animation-duration: 0.5s;
}
@media (max-width: 993px) and (min-width: 763px) {
  .about_section .about_me_right_section #txt {
    font-size: 12px;
  }
  .about_section #heading {
    font-size: 28px !important;
  }
}

/* Skills Section */

.skills_section {
  padding: 100px;
}
.skills_section_left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills_section #heading {
  font-weight: 600;
  font-size: 50px;
}
.skills_section hr {
  border: 0.5px solid var(--pink);
  width: 6rem;
  margin: 12px 0px;
}
.skills_section p {
  color: var(--secondary-color);
  font-size: 16px;
}
.skills_section .social-media-icons .list-group-item {
  border: none;
  color: white;
  border-left: 2px solid var(--pink);
  border-radius: 0px;
  margin: 6px 0px;
  width: 200px;
  background: var(--bg-color-list-in-skill-section);
  font-size: 14px;
}
.skills_section .social-media-icons .list-group-item a {
  transition: 0.5s;
}
.skills_section .social-media-icons .list-group-item:hover a {
  margin-left: 10px;
}
.skills_section_right_section .each-skills {
  margin: 25px 0px;
}
.skills_section_right_section .each-skills span {
  color: white;
  font-size: 14px;
}
.skills_section_right_section .each-skills .progress {
  background: var(--bg-color-list-in-skill-section);
  border-radius: 100px;
  margin-top: 3px;
  height: 10px;
}
.skills_section_right_section .each-skills .progress-bar {
  background-color: var(--pink) !important;
}

/* Portfolio Section */

.portfolio_section {
  background: #282a39;
  padding: 170px 0px;
}
.portfolio_section .nav-tabs {
  border: none;
  width: 30%;
  text-align: center;
}
.portfolio_section .nav-tabs .nav-link.active {
  border: none;
  color: white;
  border-bottom: 2px solid var(--pink) !important;
  background: transparent;
}
.portfolio_section .nav-tabs .nav-link.active:hover {
  border-bottom: 2px solid var(--pink) !important;
}
.portfolio_section .nav-tabs .nav-item.show .nav-link {
  font-weight: 400;
  font-size: 14px;
  background: transparent !important;
}
.portfolio_section .nav-tabs .nav-link:hover {
  border: none !important;
}
.portfolio_section .tab-content .card img {
  border: 2px solid white;
}

.portfolio_section .tab-content .card:hover {
  transform: scale(1.02);
}

.portfolio_section img {
  height: 185px;
  object-fit: cover;
}

/* Blogs Section */
.blogs_section {
  background: #282a39;
  padding-bottom: 170px;
}
.blogs_section .card {
  background: var(--card-bg-color);
}
.blogs_section .card:hover {
  animation: pulse;
  animation-duration: 0.5s;
}
.blogs_section .card-body .title {
  font-size: 22px;
  font-weight: 500;
}
.blogs_section .card-body .date {
  font-size: 11px;
}
.blogs_section .card-body .date span {
  color: var(--pink);
}
.blogs_section .card-body .txt {
  font-size: 12px;
  color: var(--secondary-color);
}
.blogs_section .card-body a {
  color: var(--pink);
  font-size: 13px;
}

/* Contact-Section */
.contact_section {
  background: #282a39;
  padding-bottom: 170px;
  padding-top: 100px;
}
.contact_section .heading {
  font-weight: 600;
  font-size: 50px;
}
.contact_section hr {
  border: 0.5px solid var(--pink);
  width: 6rem;
  margin: 12px 0px;
}
.contact_section .txt {
  color: var(--secondary-color);
  font-size: 15px;
}
.contact_section form .form-control {
  background: var(--bg-color-for-form-inputs);
  border: 2px solid var(--border-color-for-form-inputs);
  border-radius: 0px;
  color: white;
}
.contact_section form button {
  background: var(--pink);
  border: 2px solid var(--pink);
  color: white;
  width: 100px;
  font-size: 15px;
}
.contact_section form button:hover {
  animation: swing;
  animation-duration: 0.5s;
}
.contact_section ul li {
  color: white;
  font-size: 18px;
  margin-bottom: 12px;
}
.contact_section ul li i {
  margin-right: 10px;
}
.contact_section ul li .fa {
  color: var(--pink);
}
@media (max-width: 991px) and (min-width: 768px) {
  .contact_section .heading {
    font-size: 40px;
  }
}

/* Footer Area */

.footer-area {
  background: #282a39;
  border-top: 2px solid var(--border-color-for-form-inputs);
  padding: 40px 0px;
}
.footer-area .navbar-brand {
  font-size: 23px;
}
.footer-area p {
  margin-top: 13px;
  color: var(--secondary-color);
  font-size: 12px;
}
.footer-area .logo-area .fa {
  color: var(--pink);
  font-size: 17px !important;
  border: 2px solid var(--pink);
  padding: 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 5px;
}
.footer-area .logo-area .fa:hover {
  animation: swing;
  animation-duration: 0.5s;
  background: white;
}
.footer-area .column .heading {
  font-weight: 400 !important;
  font-size: 21px !important;
  color: white;
}
.footer-area .list-group .list-group-item {
  margin: -3px 0px;
  color: #fff;
  transition: 0.5s !important;
}
.footer-area .list-group .list-group-item:hover i {
  padding-right: 10px;
}
.footer-area .list-group .list-group-item i {
  font-size: 12px;
  cursor: pointer;
  color: var(--pink);
  transition: 0.5s;
  margin-right: 5px;
}
.footer-area .list-group .list-group-item a {
  text-decoration: none;
  color: white;
}
@media (max-width: 767px) and (min-width: 500px) {
  .footer-area .links {
    margin-bottom: 30px;
  }
  .footer-area .row .column .heading {
    font-size: 17px !important;
  }
  .footer-area .list-group {
    margin-bottom: 30px;
  }
  .footer-area .list-group .list-group-item {
    margin-bottom: 30px;
  }
}
